.navbar :global(.topbar) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar :global(.topbar .navbar-brand) {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
}
.navbar :global(.topbar form input) {
  width: 250px;
  background-color: #f5f5f5;
}
